<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>fr.usermanager.ihm.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.usermanager.ihm.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountServlet</display-name>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>fr.usermanager.ihm.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/mon-compte</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GuardFilter</display-name>
    <filter-name>GuardFilter</filter-name>
    <filter-class>fr.usermanager.filter.GuardFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuardFilter</filter-name>
    <url-pattern>/mon-compte/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>fr.usermanager.ihm.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/mon-compte/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>fr.usermanager.ihm.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/mon-compte/admin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GuardAdminFilter</display-name>
    <filter-name>GuardAdminFilter</filter-name>
    <filter-class>fr.usermanager.filter.GuardAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuardAdminFilter</filter-name>
    <url-pattern>/mon-compte/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>